body{
    background-color: #333;
    max-width: 1280px;
    margin: auto;
}
h1{
    color: #fff;
}
.heroText{
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.heroText a{
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #fbca67;
    cursor: pointer;
}
.titulo{
    color: #fff;
    font-style: italic;
    font-size: .9rem;
}
.descriptionText{
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.subtitle,
.contact{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.subtitle{
    color: #fff;
}
.sizeImg{
    height: 7rem;
}
.imageHero{
    aspect-ratio: 2/3;
    height: 320px;
}
.footer{
    background-color: #3a3a3a;
    border-radius:1px 1px 8px 8px;
}
.sectionVideos{
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.titleVideosYoutube{
    padding: .75rem 0 .5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.textVideo{
    font-family: 'Nunito', sans-serif !important;
    text-align: left;
    color: #fff;
    font-size: .75rem;
}
.containerFacebookVideos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.containerImgInstagram{
    position: relative;
    height: 270px;
    width: 270px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}
.figureImgYoutube{
    position: relative;
    height: 180px;
    width: 240px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}
.imgInstagram{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    object-fit: fill;
}
.imgTextCTA{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    padding: .5rem;
}
.containerImgInstagram:hover .imgTextCTA{
    opacity: 1;
    visibility: visible;
}
.imgTextCTA h3{
    color: #fff;
    font-weight: bold;
}
.iconsInstagram {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: .75rem 0 .5rem 0;
}
.commentsInstagram{
    color: #fff;
    font-size: .75rem;
}
.commentsInstagram span{
    font-weight: bold;
    margin: 0 .25rem 0 0;
    font-size: .8rem;
}
.textCommentsInstagram{
    position: relative;
}
.usernameInstagram{
    width: 90%;
}
.iconLike{
    position: absolute;
    right: 0;
    bottom: 40%;
}
.slidePost{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    overflow-y: hidden;
    gap: .5rem;
    padding: 1rem 0;
    margin: 0;
}
.containerIconsCommentsInstagram{
    width: 100%;
}

/*Imágenes Instagram*/
.coverImg{
    object-fit: cover;
}
.coverImgPositionTop{
    object-position: top;
}
.iconYoutube{
    width: 80px;
}
.contentVideosYoutube{
    width: 270px;
    margin: auto;
}

@media screen and (min-width: 48rem) {
    .descriptionText{
        margin-right: 5rem !important;
    }
    .imageHero{
        aspect-ratio: 2/1;
        height: 720px;
    }
    .sizeImg{
        height: 10rem;
    }
    .slidePost{
        gap: 0 1.25rem;
    }
    .contentVideosInstagram{
        max-width: 270px;
    }
}

@media screen and (min-width: 64rem) {
    .imageHero{
        height: 620px;
    }
    .sizeImg{
        height: 12rem;
    }
    .slidePost{
        justify-content: space-around;
    }
}